
$primary-color:#e0edf4;
$secondary-color: #d69db6;
html, body {
  height: 100%;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
main {
 padding: 25px;
}
.p-sidebar-left .p-sidebar{
   width: 16rem !important;
}
.Navbar{
  height: 4rem !important;
}
.p-panelmenu .p-panelmenu-header .p-panelmenu-header-content .p-panelmenu-header-link{
color: black;
}
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #dadada;
    height: 40rem;
    width: 30rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
  }
  
 .login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 10px;
    background-color: white;
  }
  
  
  
  .login-form {
    width: 300px;
    margin-top: 20px;
  }
  
  .p-inputgroup {
    margin-bottom: 15px;
  }
  
  .p-inputgroup-addon {
    background-color: $primary-color;
    color: #595555;
    border: 1px solid $primary-color;
  }
  
  .p-inputtext {
    width: 100%;
  }
  // side bar panel override
  .p-panelmenu .p-panelmenu-header .p-panelmenu-header-content{
    border: none !important;
    background-color: transparent !important;
  }
  .p-panelmenu .p-panelmenu-header .p-panelmenu-header-content .p-panelmenu-header-link:hover{
    color: black !important;
    background-color:  $primary-color !important;
  }
  .p-panelmenu .p-panelmenu-header .p-panelmenu-header-content .p-panelmenu-header-link{
   
     border: none !important;
    background-color: transparent !important;
  }
  // 
  .login-btn {
    color: #595555;
    background: $primary-color;
    border: 1px solid $primary-color;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 3px;
}

/* .p-menubar {
    background-color: $primary-color;
    color: #595555  !important;
} */
.menu-btn {
    color: #595555;
    background: $primary-color;
    border: 1px solid $primary-color;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 3px;
}
.edit-btn{
  background-color: transparent;
    color: #a6d5fa;
    border-color: transparent;
}
.add-btn {
    color: #ffffff;
    background: $secondary-color;
    border: 1px solid $secondary-color;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 3px;
}
.add-btn:hover {
    background-color: rgba($secondary-color, 90%);
    color: #ffffff;
    border-color: rgba($secondary-color, 90%);
}
.add-btn:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem rgba($secondary-color, 90%);
}
.cancel-btn {
    color: #ffffff;
    background: #c4c7c9;
    border: 1px solid #c4c7c9;
}
.save-btn {
    color: #595555;
    background: $primary-color;
    border: 1px solid $primary-color;
}
.save-btn:hover {
    background-color: rgba($primary-color, 90%);
    color: #595555;
    border-color: rgba($primary-color, 90%);
}

.p-rating .p-rating-item.p-rating-item-active .p-rating-icon {
    color: $secondary-color;
}

.p-button-edit {
    color: #b7ceda;
     background: white ;
     border: 2px solid $primary-color; 
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 50%;
}
.p-button-delete {
    color: red;
     background: white; 
     border: 1px solid red; 
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 50%;
}
.p-menu .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover {
    color: #495057;
    background: #e3f2fd;
}
.p-menu .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus > .p-menuitem-content {
    color: #495057;
    background: #e3f2fd;
}
.p-tag.p-tag-danger {
    background-color: rgb(207 112 112 / 15%);
    border: 1px solid #d32f2f;
    color: #d32f2f;
    width: 100%;
}
.p-tag.p-tag-info {
    background-color: rgb(136 185 225 / 12%);
    border: 1px solid #2196f3;
    color:#2196f3;
     width: 100%;
}
.p-tag.p-tag-warning {
    background-color: rgb(251 192 45 / 8%);
    color: #fbc02d;
    border: 1px solid #fbc02d;
     width: 100%;
}
.p-tag.p-tag-success {
    background-color: rgb(104 159 56 / 9%);
    border: 1px solid #689f38;
    color: #689f38;
    width: 100%;
}

.p-menubar .p-menubar-button{
  display: none;
}